<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__content__side">
                <a href="/" class="copyright-link">© Visionary Farms 2023</a>
                <a href="#" target="_blank" class="doc-link">Conformity Certificate</a>
                <a href="#" target="_blank" class="doc-link">Privacy</a>
            </div>
            <div class="footer__content__side">
                <ul class="social-menu">
                    <li class="social-menu__item"><a href="#" class="social-menu__link" target="_blank"><i class="icon icon-appfacebook"></i></a></li>
                    <li class="social-menu__item"><a href="#" class="social-menu__link" target="_blank"><i class="icon icon-appinstagram"></i></a></li>
                    <li class="social-menu__item"><a href="#" class="social-menu__link" target="_blank"><i class="icon icon-applinkedin"></i></a></li>
                    <li class="social-menu__item"><a href="#" class="social-menu__link" target="_blank"><i class="icon icon-apptwitter"></i></a></li>
                    <li class="social-menu__item"><a href="#" class="social-menu__link" target="_blank"><i class="icon icon-appyoutube"></i></a></li>
                </ul>
            </div>
        </div>
        <a id="toTop" href="javascript:void(0);" class="scroll-btn">
            <span class="scroll-btn__content">
                <span>Back to top</span><i class="icon icon-arrow---up"></i>
            </span>
        </a>
    </div>
</footer>