<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/" class="logo-link">
        <img
          src="images/common/svg/logo.gif"
          alt="Visionary Farms"
          class="logo-image"
        />
        <span>Visionary Farms</span>
      </a>
      <nav class="add-menu">
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Tech Specs</a></li>
        </ul>
      </nav>
      <nav id="main-menu" class="main-menu">
        <ul>
          <li><a href="#" class="icon-ignis">Ignis</a></li>
          <li><a href="#" class="icon-air">Air</a></li>
          <li><a href="#" class="icon-aqua">Aqua</a></li>
          <li><a href="#" class="icon-refresh">Mixer</a></li>
          <li><a href="#" class="icon-profile">Vision</a></li>
          <li><a href="#" class="icon-notifications">Contact</a></li>
        </ul>
      </nav>
      <button
        id="hamburger"
        data-menu="main-menu"
        class="hamburger hamburger--slider"
        type="button"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</header>
